* {
    margin: 0;
    padding: 0;
}

.btn{
    background-color: #ffe701 !important;
    color: black !important;
    font-weight: bold !important;
    border:2px solid black !important;
}

.blob-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.emoji{
    width: 70px;
    height: 70px;
    padding: 10px;
    cursor: pointer;
}

.selected {
    border: 2px solid black;
    border-radius: 50%;
  }

#temperature {
    border-right: 2px solid black;
    margin-right: 10px;
}